.header {
  margin-top: 40px;
  padding: 96px 0;
}
.inputStyle {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #e9ecef !important;
  padding: 20px !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #495057 !important;
}
.buttonStyle {
  background-color: #19bc9b !important;
  color: #fff !important;
  padding: 16px 28px !important;
}
.buttonStyle:hover {
  background-color: #107b66 !important;
}
